absl-py==2.3.0
addict==2.4.0
altair==5.5.0
altgraph==0.17.4
annotated-types==0.7.0
astunparse==1.6.3
attrs==25.3.0
audioread==3.0.1
auto-py-to-exe==2.46.0
blinker==1.9.0
blis==0.7.11
bottle==0.13.4
bottle-websocket==0.2.9
Brotli @ file:///D:/bld/brotli-split_1666788538925/work
brotlicffi @ file:///C:/b/abs_f4lixvzmxt/croot/brotlicffi_1736183286104/work
cabarchive==0.2.4
cachetools==5.5.2
catalogue==1.0.2
certifi @ file:///C:/b/abs_67mh6i36ci/croot/certifi_1752653721535/work/certifi
cffi @ file:///C:/b/abs_29_b57if3f/croot/cffi_1736184144340/work
chardet==5.2.0
charset-normalizer==3.4.2
click==8.1.8
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
confection==0.1.5
contourpy @ file:///C:/b/abs_b0lpi9pj9c/croot/contourpy_1738161183484/work
cryptography==45.0.5
cx_Logging==3.2.1
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
cymem==2.0.11
decorator==4.4.2
docx==0.2.4
docx2pdf==0.1.8
docx2txt==0.9
easydict==1.9
Eel==0.18.2
expecttest==0.3.0
facenet-pytorch==2.6.0
fer==22.5.1
ffmpeg==1.4
ffmpeg-python==0.2.0
filelock==3.18.0
Flask==2.2.5
flask-cors==6.0.1
flatbuffers==2.0.7
fonttools @ file:///C:/b/abs_4crkswws2h/croot/fonttools_1737040078745/work
fsspec==2025.5.1
ftfy==6.3.1
future==1.0.0
gast==0.4.0
gevent==25.5.1
gevent-websocket==0.10.1
gitdb==4.0.12
GitPython==3.1.44
google-pasta==0.2.0
greenlet==3.2.3
grpcio==1.73.1
h5py==3.14.0
huggingface-hub==0.33.1
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
imageio==2.37.0
imageio-ffmpeg==0.6.0
importlib-metadata==6.11.0
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1736252299705/work
itsdangerous==2.2.0
Jinja2==3.1.6
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1748019130050/work
json5==0.9.25
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
keras==2.7.0
Keras-Preprocessing==1.1.2
kiwisolver @ file:///C:/b/abs_88mdhvtahm/croot/kiwisolver_1672387921783/work
langcodes==3.5.0
language_data==1.3.0
libclang==18.1.1
librosa==0.9.1
lief==0.16.5
llvmlite==0.43.0
lxml==6.0.0
marisa-trie==1.2.1
Markdown==3.8.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
mdurl==0.1.2
mkl-service==2.4.0
mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730823082242/work
mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730822522280/work
ml_dtypes==0.5.1
mmcv-full==1.6.1
mmdet==2.25.1
moviepy==1.0.3
mpmath==1.3.0
murmurhash==1.0.13
namex==0.1.0
narwhals @ file:///C:/b/abs_224ub5a528/croot/narwhals_1742845975749/work
networkx==3.2.1
nltk @ file:///tmp/build/80754af9/nltk_1592496090529/work
numba==0.60.0
numpy==1.24.3
open_clip_torch==2.29.0
opencv-contrib-python==4.11.0.86
opencv-python==4.8.1.78
opt_einsum==3.4.0
optree==0.16.0
packaging==25.0
pandas==2.0.3
pdfkit==1.0.0
pdfminer.six==20250506
pdfplumber==0.11.7
pefile==2023.2.7
pillow==10.2.0
plac==1.1.3
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1746710438/work
plotly @ file:///C:/b/abs_13yyfuc6x9/croot/plotly_1744960898545/work
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1733421311631/work
preshed==3.0.10
proglog==0.1.12
protobuf==3.20.3
py2exe==0.14.0.0
pyarrow==20.0.0
pycocotools==2.0.10
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==2.11.7
pydantic_core==2.33.2
pydeck==0.9.1
pydub==0.25.1
Pygments==2.19.2
pyinstaller==6.14.2
pyinstaller-hooks-contrib==2025.6
pypandoc==1.15
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1743089729650/work
PyPDF2==3.0.1
pypdfium2==4.30.1
PyQt6==6.7.1
PyQt6_sip @ file:///C:/b/abs_f47pmp6xmn/croot/pyqt-split_1744804513582/work/pyqt_sip
pyresparser==1.0.6
PySocks @ file:///D:/bld/pysocks_1648857426942/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-docx==1.2.0
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
pywin32==311
pywin32-ctypes==0.2.3
PyYAML==6.0.2
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
resampy==0.4.3
rich==13.9.4
rpds-py==0.25.1
sacremoses==0.1.1
safetensors==0.5.3
scenedetect==0.6.4
scikit-learn==1.6.1
scipy @ file:///C:/Users/dev-admin/cr_scipy-feedstock/scipy_1733774324044/work/dist/scipy-1.13.1-cp39-cp39-win_amd64.whl#sha256=f7218697f964ae4372cdcb6f20a05db0d338ccc574c96e9dbf235ed6547dd462
sip @ file:///C:/b/abs_5cto136kse/croot/sip_1738856220313/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
smmap==5.0.2
sounddevice==0.5.2
soundfile==0.13.1
spacy==2.3.8
srsly==1.0.7
streamlit==1.47.0
striprtf==0.0.29
sympy==1.13.3
tenacity==8.5.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow-cpu==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==3.1.0
terminaltables==3.1.10
thinc==7.4.2
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
timm==1.0.16
tokenizers==0.21.2
toml==0.10.2
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1733256695513/work
torch==2.2.2
torchvision==0.17.2
tornado @ file:///D:/bld/tornado_1666788767305/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
transformers==4.17.0
typing-inspection==0.4.1
typing_extensions==4.12.2
tzdata==2025.2
tzlocal==5.3.1
unicodedata2 @ file:///C:/b/abs_dfnftvxi4k/croot/unicodedata2_1736543771112/work
urllib3==1.26.9
validators==0.35.0
wasabi==0.10.1
watchdog==6.0.0
wcwidth==0.2.13
websocket-client==1.8.0
Werkzeug==3.1.3
win-inet-pton @ file:///D:/bld/win_inet_pton_1666754986626/work
wrapt==1.17.2
yapf==0.43.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work
zope.event==5.1.1
zope.interface==7.2
